<% posts.each do |post| %>
  <div class="card-wrap">
    <div class="card border-radius">
      <div class="card-header align-items-center d-flex">
        <%= link_to users_user_path(post.user), class: "no-text-decoration" do %>
          <%= attachment_image_tag post.user,:image, fallback: "no_image.jpg", class: "post-profile-icon" %>
        <% end %>
        <%= link_to users_user_path(post.user), class: "black-color no-text-decoration",
          title: post.user.name do %>
          <strong><%= post.user.name %></strong>
        <% end %>
      </div>
      <%= attachment_image_tag post ,:image, class: "card-img-top js-modal-open", fallback: "no_pic.png" %>
      <%= render 'users/posts/font_awesome', post: post %>
      <div class="card-body">
        <div>
          <span><%= post.title %></span>
        </div>
      </div>
    </div>
  </div>

  <!-- 投稿モーダル -->
  <%= render 'users/posts/post_show', post:post %>
  
<% end %>


