<div class="mb-3">
  <span class="font-md">
    <%= link_to users_user_path(post.user) do %>
      <i class="fas fa-user text-info"></i>
      <span class="font-awesomes"><%= post.user.name %></span>
    <% end %>

    <span class="mr-w">
      <i class="fas fa-comment text-info"></i>
      <span class="font-awesomes"><%= post.comments.count %>件</span>
    </span>

    <% if user_signed_in? %>
    <span class="like-<%= post.id %>">
      <%= render 'users/posts/like_text', post: post %>
    </span>
    <% else %>
      <i class="fas fa-heart text-info"></i>
      <span class="font-awesomes"><%= post.likes.count %></span>
    <% end %>
  </span>
</div>