<div class="container" style="padding-bottom: 100px;">
	<%= render 'partial/back_btn' %>
	<% if @post.user == current_user %>
		<div class="row">
			<div class="col-md-6">
				<%= attachment_image_tag @post,:image, class: "post-image-show", fallback: "no_image.jpg" %>
			</div>
			<div class="col-md-6">
				<h4 class="recipe-title">作品名</h4>
				<%= @post.title %><br>
				<h4 class="recipe-title">説明</h3>
				<%= @post.content %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4 class="recipe-title">材料</h4>
				<div class="materials_form_<%= @post.id %>">
					<%= render 'materials_form', materials: @materials, post: @post %>
				</div>

				<%= form_for [@post,@material],remote: true do |f| %>
				<div class="row pt-2">
					<div class="col-lg-5 col-4">
						<%= f.text_field :name, placeholder:"材料", class: 'materials_form' %>
					</div>
					<div class="col-lg-2 col-2">
						<%= f.text_field :quantity, :size=>"8",placeholder:"数量",class: 'materials_form' %>
					</div>
					<div class="col-lg-3 col-4">
						<%= f.submit "追加", class: "btn btn-primary" %>
					</div>
				</div>
				<% end %>
			</div>


			<div class="col-md-6">
				<h4 class="recipe-title">使用工具</h4>
				<div class="items_form_<%= @post.id %>">
					<%= render 'items_form', items: @items, post: @post %>
				</div>

				<%= form_for [@post,@item],remote: true do |f| %>
					<div class="row pt-2">
						<div class="col-lg-5">
							<%= f.text_field :name, placeholder:"工具", class: 'items_form' %>
						</div>
						<div class="col-lg-3">
							<%= f.submit "追加", class: "btn btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<h4 class="recipe-title">作り方</h4>

		<div class="recipes_form_<%= @post.id %>">
			<%= render 'recipes_form', recipes: @recipes, post: @post %>
		</div>

		<div class="row" style="margin-bottom: 10px">
			<div class="col-lg-3 col-3">
				<%= form_for [@post,@recipe],remote: true do |f| %>
					<%= attachment_image_tag @recipe, :image, id:"recipe-prev", class:"recipes_form", fallback: 'no_image.jpg' %>
					<div class="upload-btn-wrapper">
						<%= f.file_field :image, id:"recipe-image", class:'recipes_form', accept: 'image/jpeg,image/gif,image/png', onChange:'inform()' %>
						<button class="btn-type">画像を選択する</button>
					</div>
					<%= f.text_area :content, rows:"2",style:"width:100%",placeholder:"作り方を入力する", class:'recipes_form input-form' %>
					<%= f.submit "追加", class:"btn btn-primary submit-btn-sm" %>
				<% end %>
			</div>
		</div>
		<div class="text-center my-4">
			<%= link_to '投稿する', root_path, class: 'btn btn-success' %>
		</div>
	<% else %>
		<div class="row">
			<div class="col-md-6">
				<%= attachment_image_tag @post,:image, class: "post-image-show", fallback: "no_image.jpg" %>
			</div>
			<div class="col-md-6">
				<h4 class="recipe-title">作品名</h3><br>
				<%= @post.title %><br>
				<h4 class="recipe-title">説明</h3>
				<%= @post.content %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4 class="recipe-title">材料</h4>
				<div class="materials_form_<%= @post.id %>">
					<% @post.materials.each do |material| %>
						<%= material.name %>
						<%= material.quantity %>
					<% end %>
				</div>
			</div>


			<div class="col-md-6">
				<h4 class="recipe-title">使用工具</h4>
				<div class="items_form_<%= @post.id %>">
					<% @post.items.each do |item| %>
						<%= item.name %>
					<% end %>
				</div>
			</div>
		</div>
			
		<p class="recipe-title" >作り方
		<% @sum = 0 %>
		<div class="row" style="margin-bottom: 10px">
			<% @recipes.each do |recipe| %>			
				<div class="col-lg-3">
					<%= @sum += 1 %>.
					<%= attachment_image_tag recipe, :image, id:'img-prev', class:'recipe-modal-open', fallback: "no_image.jpg" %>
					<%= recipe.content %>
				</div>

				<div class="modal js-modal">
					<div class="modal__bg js-modal-close"></div>
					<div class="modal__content">
						<%= render 'recipes/recipe_show', recipe:recipe %>
					</div>
				</div>

				<script type="text/javascript">
					$(function(){
					$('.recipe-modal-open').on('click',function(){
							$(this).parent().next().fadeIn();
							return false;
					});
					$('.js-modal-close').on('click',function(){
							$('.js-modal').fadeOut();
							return false;
					});
				});
			</script>

			<% end %>
		</div>
	<% end %>
</div>

