<div class="container" style="padding-bottom: 100px;">
	<%= render 'partial/back_btn' %>
	<div class="row">
		<div class="col-md-6">
			<%= attachment_image_tag @post,:image, class: "post-image-show", fallback: "no_pic.png" %>
		</div>
		<div class="col-md-6">
			<h4 class="recipe-title">作品名</h3><br>
			<%= @post.title %><br>
			<h4 class="recipe-title">説明</h3>
			<%= @post.content %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h4 class="recipe-title">材料</h4>
			<div class="post_materials_<%= @post.id %>">
				<% @post.materials.each do |material| %>
					<%= material.name %>
					<%= material.quantity %><br>
				<% end %>
			</div>
		</div>

		<div class="col-md-6">
			<h4 class="recipe-title">使用工具</h4>
			<div class="post_items_<%= @post.id %>">
				<% @post.items.each do |item| %>
					<%= item.name %><br>
				<% end %>
			</div>
		</div>
	</div>
		
	<p class="recipe-title" >作り方
	<% @sum = 0 %>
	<div class="row" style="margin-bottom: 10px">
		<% @recipes.each do |recipe| %>			
			<div class="col-lg-3">
				<%= @sum += 1 %>.
				<%= attachment_image_tag recipe, :image, id: "recipe-image", class: "recipe-modal-open", fallback: "no_pic.png" %>
				<%= recipe.content %>
			</div>

			<div class="modal js-modal">
				<div class="modal__bg js-modal-close"></div>
				<div class="modal__content">
					<%= render 'recipes/recipe_show', recipe:recipe %>
				</div>
			</div>

			
		<% end %>
	</div>
</div>

