<div class="container">
<div class="row">
  <div class="col-md-6">
     <%= attachment_image_tag @post,:image, class: "post-image-show", fallback: "no_image.jpg" %>
  </div>

  <div class="col-md-6">
    <h4 class="border-bottom mt-5">作品名</h3><br>
    <%= @post.title %><br>
    <h4 class="border-bottom mt-5">説明</h3>
    <%= @post.content %>
  </div>
</div>


    <div class="row">
    <div class="col-md-6">
      <h4 class="border-bottom mt-5">材料</h4>
      <div class="materials_form_<%= @post.id %>">
        <%= render 'materials_form', materials: @materials, post: @post %>
      </div>

      <%= form_for [@post,@material],remote: true do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'materials_form' %>
        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: 'materials_form' %>
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>


    <div class="col-md-6">
      <h4 class="border-bottom mt-5">使用工具</h4>
      <div class="items_form_<%= @post.id %>">
        <%= render 'items_form', items: @items, post: @post %>
      </div>

      <%= form_for [@post,@item],remote: true do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'items_form' %>
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

<h4 class="border-bottom mt-5">作り方</h4>
  <div class="recipes_form_<%= @post.id %>">
    <%= render 'recipes_form', recipes: @recipes, post: @post %>
  </div>

  <%= form_for [@post,@recipe],remote: true do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'recipes_form' %>
    <%= f.attachment_field :image, class: 'recipes_form' %>
    <%= f.submit "追加", class: "btn btn-primary" %>
  <% end %>

  <%= link_to '投稿する', root_path, class: 'btn btn-success' %>
</div>