<div class="row">
  <div class="col-md-6">
     <%= image_tag @post.image.to_s, class: "recipe_new" %>
  </div>
  <div class="col-md-6">
    <h4 class="border-bottom mt-5">作品名</h3><br>
    <%= @post.title %><br>
    <h4 class="border-bottom mt-5">説明</h3>
    <%= @post.content %>

    <h4 class="border-bottom mt-5">材料</h4>
    <% @materials.each do |material| %>
      <%= material.name %>
      <%= material.quantity %>
      <%= link_to "削除", post_material_path(@post.id, material), method: :delete, class: "btn btn-danger" %>
    <% end %>

    <%= form_for ([@post,@material]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :quantity %>
      <%= f.text_field :quantity %>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>



    <h4 class="border-bottom mt-5">使用工具</h4>
    <% @items.each do |item| %>
      <%= item.name %>
      <%= link_to "削除", post_item_path(@post.id, item), method: :delete, class: "btn btn-danger" %>
    <% end %>

    <%= form_for ([@post,@item]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<h4 class="border-bottom mt-5">作り方</h4>
<% @recipes.each do |recipe| %>
  <%= recipe.content %><br>
  <%= link_to "削除", post_recipe_path(@post.id, recipe), method: :delete, class: "btn btn-danger" %>
  <% if recipe.image %>
    <%= image_tag recipe.image.to_s %>
  <% end %>
<% end %>

<%= form_for ([@post,@recipe]) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.file_field :image %>
  <%= f.submit "追加", class: "btn btn-primary" %>
<% end %>

<%= link_to '投稿する', root_path, class: 'btn btn-success' %>