<div class="container">
<div class="row">
  <div class="col-md-6">
     <%= attachment_image_tag @post,:image, class: "post-image-show", fallback: "no_image.jpg" %>
  </div>

  <div class="col-md-6">
    <h4 class="border-bottom mt-5">作品名</h3><br>
    <%= @post.title %><br>
    <h4 class="border-bottom mt-5">説明</h3>
    <%= @post.content %>
  </div>
</div>


    <div class="row">
    <div class="col-md-6">
      <h4 class="border-bottom mt-5">材料</h4>
      <div class="newform_<%= @post.id %>">
        <%= render 'newform', materials:@materials, post:@post %>
      </div>

      <%= form_for [@post,@material],remote: true do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'new_form' %>
        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: 'new_form' %>
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>


    <div class="col-md-6">
      <h4 class="border-bottom mt-5">使用工具</h4>
      <% @items.each do |item| %>
        <%= item.name %>
        <%= link_to "削除", post_item_path(@post.id, item), method: :delete, class: "btn btn-danger" %>
      <% end %>

      <%= form_for ([@post,@item]) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

<h4 class="border-bottom mt-5">作り方</h4>
<% @recipes.each do |recipe| %>
  <div class="float-left">
    <% if recipe.image %>
      <%= attachment_image_tag recipe,:image, size: "150x150" %>
    <% end %>
    <div><%= recipe.content %></div>
    <%= link_to "削除", post_recipe_path(@post.id, recipe), method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>

<%= form_for ([@post,@recipe]) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.attachment_field :image %>
  <%= f.submit "追加", class: "btn btn-primary" %>
<% end %>

<%= link_to '投稿する', root_path, class: 'btn btn-success' %>
</div>