<div class="row">
	<ul class="tag-bar">
		<li>
			人気のタグ
		</li>
		<li>
			<%= link_to '椅子', posts_path(tag_name: "椅子")  %>
		</li>
		<li>
			<%= link_to 'テーブル', posts_path(tag_name: "テーブル")  %>
		</li>
		<li>
			<%= link_to '壁紙', posts_path(tag_name: "壁紙")  %>
		</li>
		<li>
			<%= link_to '簡単', posts_path(tag_name: "簡単")  %>
		</li>
	</ul>
</div>
<div class="main-image">
	<div class="main-image-box">
		<div class="main-image-box-text">
			<%= link_to home_about_path do %>
				<h1 class="main-text">WHAT<br> DIY<br> LOG?</h1>
			<% end %>
			<span class = "registration-btn">
				<%= link_to new_user_registration_path do %>
					<i class="fas fa-hiking fa-2x registration-logo"></i>sign up!
				<% end %>
			</span>
		</div>
	</div>
</div>

       <ul class="slick01">
         <li><img alt="画像1" src="slideshow1.jpg" /></li>
         <li><img alt="画像2" src="slideshow2.jpg" /></li>
         <li><img alt="画像3" src="slideshow3.jpg" /></li>
       </ul>
