<nav>
  <ul class="left_nav">
    <li>
      <%= link_to  users_posts_path, class:'nav-item mt-5', id:'menu-post', data: {"turbolinks" => false}  do %>
        <i class="fas fa-share-alt mr-2"></i>最近の投稿
      <% end %>
    </li>
    <li>
      <%= link_to  like_ranking_users_posts_path, class:'nav-item', id:'menu-like-ranking', data: {"turbolinks" => false}  do %>
        <i class="fas fa-crown mr-2"></i>いいね数順
      <% end %>
    </li>
    <% if user_signed_in? %>
      <div class="partition"></div>
      <li>
        <%= link_to  users_user_path(current_user), class:'nav-item' do %>
          <i class="fas fa-user mr-2"></i>マイページ
        <% end %>
      </li>
      <li>
        <%= link_to  users_rooms_path, class:'nav-item' do %>
          <i class="fas fa-envelope mr-2"></i>DM
        <% end %>
      </li>
      <li>
        <%= link_to  users_notifications_path, class:'nav-item' do %>
          <i class="fas fa-bell mr-2"></i>通知
        <% end %>
      </li>
      <li>
        <%= link_to  edit_user_registration_path(current_user), class:'nav-item' do %>
          <i class="fas fa-cog mr-2"></i>プロフィール設定
        <% end %>
      </li>
      <div class="partition"></div>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class:'nav-item' do %>
          <i></i>ログアウト
        <% end %>
      </li>
      <div class="partition"></div>
      <li>
        <%= link_to "投稿", new_users_post_path , class: "btn post-btn nav-item" %>
      </li>
      <li class="mt-3 text-center">
        <%= form_tag(search_users_posts_path,:method => 'get') do %>
          <%= text_field_tag :search %>
          <%= submit_tag '検索', :name => nil %>
        <% end %>
      </li>
    <% else %>
      <div class="partition"></div>
      <li>
        <%= link_to   new_user_session_path, class:'nav-item' do %>
          <i class="fas fa-users mr-2"></i>ログイン
        <% end %>
      </li>
      <li>
        <%= link_to   user_registration_path, class:'nav-item' do %>
          <i class="fas fa-users mr-2"></i>新規登録
        <% end %>
      </li>
    <% end %>
  <ul>
</nav>



