<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= link_to "投稿", new_post_path , class: "btn btn-primary" %>
        </li>
        <li>
          <% if user_signed_in? %>
          <%= link_to "マイページ", user_path(current_user) %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :DELETE %>
          <%= link_to '通知', notifications_path %>
          <% else %>
          <%= link_to 'ゲストログイン（閲覧用）', home_guest_sign_in_path, method: :post %>
          <%= link_to 'sign_in', user_session_path, method: :post %>
          <%= link_to '新気筒ロく', user_registration_path, method: :post %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>