<% posts.each do |post| %>
  <div class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <%= render 'posts/post_show', post:post %>
    </div>
  </div>

  <script type="text/javascript">
    $(function(){
    $('.js-modal-open').on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
  });
</script>


    <div class="card-wrap">
      <div class="card test">
        <div class="card-header align-items-center d-flex">
          <%= link_to user_path(post.user), class: "no-text-decoration" do %>
            <%= attachment_image_tag post.user,:image,class: "post-profile-icon" %>
          <% end %>
          <%= link_to user_path(post.user), class: "black-color no-text-decoration",
            title: post.user.name do %>
            <strong><%= post.user.name %></strong>
          <% end %>

        </div>

        <%= link_to attachment_image_tag post ,:image, class: "card-img-top js-modal-open", fallback: "no_image.jpg" %>
            <%= render 'posts/font_awesame', post:post %>

        <div class="card-body">
          
          <div>
            <span><strong><%= post.user.name %></strong></span>
            <span><%= post.title %></span>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post), class: "post-time no-text-decoration" %>
                        <div id="comment-post-<%= post.id.to_s %>">
              <%= render '/posts/comment_list', { post: post } %>
            </div>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post),
              class: "light-color post-time no-text-decoration" %>
            <hr>
            <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


