<div class="row">
  <% posts.each do |post| %>
    <div class="col-md-4">
      <div class="card-wrap">
        <div class="card border-radius">
          <div class="card-header align-items-center d-flex">
            <%= link_to user_path(post.user), class: "no-text-decoration" do %>
              <%= attachment_image_tag post.user,:image,class: "post-profile-icon" %>
            <% end %>
            <%= link_to user_path(post.user), class: "black-color no-text-decoration",
              title: post.user.name do %>
              <strong><%= post.user.name %></strong>
            <% end %>
          </div>
            <%= attachment_image_tag post,:image,  fallback: "no_image.jpg",class: " js-modal-open card-img-top" %>
          <div class="card-body">
           <%= render 'posts/font_awesame', post: post %>
            <span><%= post.title %></span>
          </div>
        </div>


        <div class="modal js-modal">
          <div class="modal__bg js-modal-close"></div>
          <div class="modal__content">
            <%= render 'posts/post_show', post:post %>
          </div>
        </div>

        <script type="text/javascript">
          $(function(){
          $('.js-modal-open').on('click',function(){
              $(this).parent().next().fadeIn();
              return false;
          });
          $('.js-modal-close').on('click',function(){
              $('.js-modal').fadeOut();
              return false;
          });
          });
        </script>

        
      </div>
    </div>

    
  <% end %>
</div>
