<div class="container">
  <div class="row">
    <% if params[:tag_name] %>
      <%= render 'partial/back_btn' %>
      <div class="col-lg-12">
        <div class="home-content new-bottom margin-bottom10 text-center">
          <i class="fas fa-share-alt icon new-bg"></i>＃<%= params[:tag_name] %>
        </div>
          <%= render 'posts/3card-posts', posts:@posts %>
      </div>

    <% else %>
      <div class="col-lg-4">
        <%= render 'left-content' %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="home-content new-bottom margin-bottom10">
          <i class="fas fa-share-alt icon new-bg"></i>最近の投稿
        </div>
          <%= render 'posts/1card-posts', posts:@posts %>
          <%= paginate @posts %>
      </div>
    <% end %>
  </div>
</div>