<div class="row">
  <div class="col-md-12">
  <h3>新規投稿</h3>
    <%= form_for (@post) do |f| %>
      <%= f.file_field :image %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%
=begin%>
 <%= f.fields_for :recipes do |i| %>
        <%= i.label :content %>
        <%= i.text_area :content %><br>
      <% end %> 
<%
=end%>
      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
