<div class="row">
		<h3>新規投稿</h3>
		<%= form_for (@post) do |f| %>
			    <%= f.attachment_field :image %>
					<%= f.text_field :title %>
					<%= f.text_area :content %>
					<%= f.submit "保存して材料を追加する"%>
		<% end %>
</div>
