<div class="container">
  <%= render 'partial/back_btn' %>
  <div class="home-content dm-bottom">
    <i class="fas fa-envelope icon dm-bg"></i>DM一覧
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class='table table-borderless'>
        <tbody>
          <% @another_entries.each do |e| %>
            <tr>
              <td>
                <%= attachment_image_tag e.user, :image, fallback: "no_image.jpg", class: "dm-profile-icon" %>
              </td>
              <td><h5 class="line-height"><strong><%= e.user.name %></strong></h5></td>
              <td>
                <!-- メッセージがあれば表示 -->
                <% if Message.find_by(id: e.room.message_ids.last) %>
                  <p class="line-height"><%= Message.find_by(id: e.room.message_ids.last).content.truncate(45) %></p>
                <% end %>
              </td> 
              <td>
                <%= link_to users_room_path(e.room.id) do %>
                  <span class="badge badge-info line-height"><i class="fas fa-envelope"></i>メッセージを見る</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
