<div class="container">
	<div class="col-lg-12">
		<div class="home-content new-bottom margin-bottom10 text-center">
			<i class="fas fa-comment icon new-bg"></i>作り方
		</div>
	</div>
	<%= render 'partial/back_btn' %>
	<div class="row">
		<div class="col-lg-6">
			<%= attachment_image_tag @post,:image, class: "post-image-show", fallback: "no_pic.png" %>
		</div>
		<div class="col-lg-6">
			<h4 class="recipe-title">作品名</h3><br>
			<%= @post.title %><br>
			<h4 class="recipe-title">説明</h3>
			<%= @post.content %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h4 class="recipe-title">材料</h4>
			<div class="post_materials_<%= @post.id %>">
				<% @post.materials.each do |material| %>
					<%= material.name %>
					<%= material.quantity %><br>
				<% end %>
			</div>
		</div>

		<div class="col-lg-6">
			<h4 class="recipe-title">使用工具</h4>
			<div class="post_items_<%= @post.id %>">
				<% @post.items.each do |item| %>
					<%= item.name %><br>
				<% end %>
			</div>
		</div>
	</div>
		
	<p class="recipe-title" >作り方
	<% @sum = 0 %>
	<div class="row mb-1">
		<% @recipes.each do |recipe| %>			
			<div class="col-3">
				<%= @sum += 1 %>.
				<%= attachment_image_tag recipe, :image, class: "recipe-image recipe-modal-open", fallback: "no_pic.png" %>
				<%= recipe.content %>
			</div>

			<div class="modal js-modal">
				<div class="modal__bg js-modal-close"></div>
				<div class="modal__content">
					<%= render 'users/recipes/recipe_show', recipe:recipe %>
				</div>
			</div>

		<script>
			$(function(){
				$('.recipe-modal-open').on('click',function(){
						$(this).parent().next().fadeIn();
						return false;
				});
				$('.js-modal-close').on('click',function(){
						$('.js-modal').fadeOut();
						return false;
				});
			});
	</script>			
		<% end %>
	</div>
</div>

